<html>
    <head>
    </head>

    <body>
        <div>
            <h1> Give name </h1>
        </div>
        <div class='col-md-6'>
            <input type='text' id='name' class='form-control' placeholder='whats your name'/>
        </div>
        <div class='col-md-6'>
            <input type='text' id='roomcode' class='form-control' placeholder='Enter roomID'/>
        </div>
        <div>
          <button> Go to room </button>  
        </div>

        <script type="module" src={~p"/assets/js/app.js"}></script>
    </body>

</html>