<html>
    <head>
    </head>

    <body>
        <div>
            <h1> Am tryinggggggg </h1>
        </div>
        <div id='chat' class='row'>
        
        </div>
        <div class='col-md-6'>
            <input type='text' id='message' class='form-control' placeholder='Type smtg'/>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="module" src={~p"/assets/js/socket.js"}></script>
    </body>

</html>

